@media (prefers-color-scheme: dark) {
  body {
    background: black
  }
  .opblock-tag.no-desc {
    border: none !important;
    padding-right: 5px !important;
  }
  .info {
    margin: 12px 0px !important;
  }
  hgroup.main {
    margin: 0 !important;
  }
  .scheme-container {
    background: none !important;
    box-shadow: none !important;
    padding: 0px !important;
  }
  .swagger-ui {
    filter: invert(88%) hue-rotate(180deg);
  }
  .swagger-ui .microlight {
    filter: invert(100%) hue-rotate(180deg);
  }
}